/*   
  .flashcard {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease;
  }*/
  


.body {
    margin: 0;
    overflow: hidden;
    background: whitesmoke;
    font-size: 16px;
}
.flashcard-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: whitesmoke;
}
.flashcard {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease, opacity 0.4s ease;
    font-size: 36px; 
    text-align: center;

    background: #e0e0e0;
}
.flashcard.hidden {
    /* display: none; */
    transform: translateX(100%);
    transition: opacity 0.4s ease; 
    opacity: 0;
}

.flashcard.active {
  /* transform: translateX(0%); */
  opacity: 1;
} 

.flashcard.enter-from-right {

    transform: translateX(0%);
    transition: transform 0.4s ease;
    opacity: 1;
  } 

  .flashcard.enter-from-left {
    /* transform: translateX(-100%); */
    /* opacity: 1; */
    transform: rotateY(360deg);
    opacity:0.0;
    transition: transform 0.1s ease, opacity 0.1 ease;
  } 


/* .upperpart {
    align-content: center;
    background: #f0f0f0;
    font-size: 2rem; 
    padding: 3rem;
} */

.upperpart {
    align-content: center;
    background: #f0f0f0;
    font-size: 8rem;
    display: flex;
    width: 100%;
    height: 30% ;
    position: relative ;
    white-space: nowrap;
}

.underpart {
    background: whitesmoke;
    padding:0 px;
    font-size: 3rem;
    width: 100% ;
    height: 65% ;
    align-content: center;
    position: relative ;
}

.no-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    font-size: 24px; 
    font-weight: bold; 
    text-align: center;
}

.graystatus {
    opacity:0;
}

.noneDisplay{
    display:none;
}

/* .left{
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 40%;
    height: 100%;
}

.right{
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 60%;
    height: 100%;
} */


@media (max-width: 576px){
 /* #hoverMenu {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 6%;
    background-color: #333;
} */
/* #hoverMenu a {
    display: inline-block;
    width: auto;
    margin-right: 15px;
    font-size: 1.5rem;
    margin-bottom: 0px ;
} */

a.mobile-hide {
    display: none;
}

.upperpart {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    padding: 1rem;
}

.underpart {
    font-size: 1.5rem; 
}

}  