/*   
  .flashcard {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease;
  }*/
  


body {
    margin: 0;
    overflow: hidden;
}
#flashcard-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.flashcard {
    /* width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    justify-content: center;
    align-items: center; */
    /* font-size: 2em; */
    /* text-align: center;
    background: whitesmoke;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out; */

    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease;

    font-size: 36px; 
    text-align: center;
    padding:48px;

}
.flashcard.hidden {
    /* display: none; */
    transform: translateX(100%);
    opacity: 0;
}

.flashcard.active {
  transform: translateX(0); 
  opacity: 1;
} 

.upperpart {
    align-content: center;
    background: #f0f0f0;
    font-size: 2rem; 
    padding: 3rem;
}

.no-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    font-size: 24px; 
    font-weight: bold; 
    text-align: center;
}

@media (max-width: 576px){
 /* #hoverMenu {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 6%;
    background-color: #333;
} */
/* #hoverMenu a {
    display: inline-block;
    width: auto;
    margin-right: 15px;
    font-size: 1.5rem;
    margin-bottom: 0px ;
} */

a.mobile-hide {
    display: none;
}

.upperpart {

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
    padding: 1rem;
}
}  