.word-and-buttons .memo {
    flex: 1;  /* 残りの幅を使う */
    white-space: nowrap; /* テキストが長くても改行させない */
    overflow: hidden; /* テキストが長すぎる場合は隠す */
    text-overflow: ellipsis; /* テキストが長すぎる場合は省略記号を表示 */
    padding-left: 10px; /* 少しの間隔を設定 */
}

.word-and-buttons .buttons {
    margin-left: 10px;
}

  .date {
    flex: 0 0 60; 
    overflow: hidden; /* テキストが長すぎる場合は隠す */
    text-overflow: ellipsis; /* テキストが長すぎる場合は省略記号を表示 */
    padding-left: 10px; /* 少しの間隔を設定 */
}

.word-and-buttons .memo1 {
    flex: 0.3; /* 残りの幅を使う */
    white-space: nowrap; /* テキストが長くても改行させない */
    overflow: hidden; /* テキストが長すぎる場合は隠す */
    text-overflow: ellipsis; /* テキストが長すぎる場合は省略記号を表示 */
    padding-left: 10px; /* 少しの間隔を設定 */
}

.word-and-buttons .memo2 {
    flex: 0.7; /* 残りの幅を使う */
    white-space: nowrap; /* テキストが長くても改行させない */
    overflow: hidden; /* テキストが長すぎる場合は隠す */
    text-overflow: ellipsis; /* テキストが長すぎる場合は省略記号を表示 */
    padding-left: 10px; /* 少しの間隔を設定 */
}

.word-and-buttons input {
    width: 25px; /* 固定幅を指定 */
    height: 25px; /* 固定高さを指定 */
    flex: none; /* Flexbox の影響を受けないように設定 */
}



.word-and-buttons .mean1,.word {
    flex: 0.12; /* 残りの幅を使う */
    white-space: nowrap; /* テキストが長くても改行させない */
    overflow: hidden; /* テキストが長すぎる場合は隠す */
    text-overflow: ellipsis; /* テキストが長すぎる場合は省略記号を表示 */
    padding-left: 10px; /* 少しの間隔を設定 */
}

.word-and-buttons .mean2 {
    flex: 0.7; /* 残りの幅を使う */
    white-space: nowrap; /* テキストが長くても改行させない */
    overflow: hidden; /* テキストが長すぎる場合は隠す */
    text-overflow: ellipsis; /* テキストが長すぎる場合は省略記号を表示 */
    padding-left: 10px; /* 少しの間隔を設定 */
}

.listContent {
    margin-left: 100px;        /* メニューの幅分だけ余白を作る */
    padding: 20px;             /* コンテンツの余白 */
    overflow-y: auto;          /* 縦方向にスクロール可能にする */
  }

#staticMenu{
    width: 100px;
    height: 100vh;
    position: fixed;
    /* top: 0;
    left: 0; */
    text-align: center;
    background-color: #333;
    color: white;
    overflow: hidden;
  }

  #staticMenu a {
    margin-bottom: 25px ;
    margin-top: 25px ;
    display:block;
    color:rgba(15, 115, 230, 1);
    font-weight: bold;
  } 

  .pagination button {
    color: rgba(200,100,100,1);
    margin: 0 10px; /* 水平方向にスペースを追加 */
  }

  .pagination {
  display: flex; /* 子要素を横並びに配置 */
  justify-content: center; /* 子要素を水平方向に中央配置 */
  margin: 20px auto; /* ページネーション全体の上下に余白を追加 */
  width: 100%; /* 必要に応じて調整 */
  }


  @media (max-width: 576px) {
    #staticMenu {
        position: fixed; /* 最上部に固定 */
        top: 0;          /* 画面の一番上に */
        left: 0;         /* 左に固定 */
        width: 100%;     /* 幅を100%に */
        height: 6%;    /* 高さは自動調整 */
        background-color: #333;
    }

    /* メニュー内のリンクを横並びに */
    #staticMenu a {
        display: inline-block;
        width: auto;
        margin-right: 15px;
        font-size: 1.5rem;
        margin-bottom: 0px ;
        margin-top: 0px ;
    }

    .listContent {
        margin-left: 15px;        /* メニューの幅分だけ余白を作る */
        padding: 10px;             /* コンテンツの余白 */
        overflow-y: auto;          /* 縦方向にスクロール可能にする */
      }


  }


  /* #hoverMenu {
        position: fixed;
        width: 100px;
        height: 100%;
        top: 0;
        left: 0;
        background: #333;
        color: white;

        text-align: center;
        overflow: hidden; 
        transition: width 0.2s ease;
}

  #hoverMenu a {
        margin-bottom: 20px ;
        display:block;
} */

/* @media (max-width: 576px) {
    #hoverMenu {
        position: fixed; 
        top: 0;          
        left: 0;         
        width: 100%;    
        height: 6%;    
        background-color: #333;
    }

    #hoverMenu a {
        display: inline-block;
        width: auto;
        margin-right: 15px;
        font-size: 1.5rem;
        margin-bottom: 0px ;
    }
} */